* {
  box-sizing: border-box;
}

  .container {
    
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    align-items: flex-start;
  }

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
  max-width: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* สไตล์ Navigation Bar */
.navbar {
  display: flex;
  background-color: #333;
  border-radius: 10px;
  margin-top: 20px;
}

/* สไตล์ลิงค์ใน Navigation Bar */
.navbar a {
  position: relative;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: all 0.5s ease;
}

/* เมื่อวางเมาส์บนเมนู */
.navbar a:hover {
  color: #AC3520;
  background-color: #f1f1f1;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.4rem;
}

/* คอนเทนเนอร์สำหรับเมนูย่อย */
.submenu-container {
  position: relative;
}

/* แถบเมนูเพิ่มเติม */
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  flex-direction: column;
  background-color: #444;
  padding: 0;
  z-index: 1;
  width: auto;
  border-radius: 10px;
  /* ปรับความกว้างให้เท่ากับความกว้างของเมนูย่อย */
}

.submenu a {
  padding: 14px 20px;
  text-align: left;
  color: white;
  text-decoration: none;
  display: block;
  transition: all 0.5s ease;
}

.submenu a:hover {
  color: #AC3520;
  width: 300px;
}

/* เมื่อวางเมาส์บนเมนูหลักและแสดงแถบเมนูเพิ่มเติม */
.submenu-container:hover .submenu {
  display: flex;
}
.ulli{
   background-color: #ffffff;
  align-items: center;
  border-radius: 20px;
  margin-top: 30px;
  line-height: 3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  a{
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
  }
  a:hover{
    color: #AC3520;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
}
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* เปลี่ยนทิศทางเป็นแนวตั้ง */
    align-items: center;
    
  }
  .navbar{
    flex-direction: column;
  }
  .ulli{
    background-color: #ffffff;
   align-items: center;

   line-height: 3;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   a{
     text-decoration: none;
     color: #000;
     font-size: 1.3rem;
   }
   a:hover{
     color: #AC3520;
     text-decoration: underline;
     font-weight: bold;
     font-size: 1.5rem;
   }
  }}
  .footer {
    padding: 20px;
    text-align: center;
    background: #ffffff;
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #AC3520;
}
/* สำหรับหน้าจอ iPad Pro แนวตั้ง */
@media (min-width: 768px) and (max-width: 1366px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
  }
  .ulli{
    background-color: #ffffff;
   align-items: center;
   line-height: 3;
   padding: 70px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   a{
     text-decoration: none;
     color: #000;
     font-size: 1.3rem;
   }
   a:hover{
     color: #AC3520;
     text-decoration: underline;
     font-weight: bold;
     font-size: 1.5rem;
   }
  }}
  .footer{
    
    
  }

