* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  align-items: flex-start;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
  max-width: auto;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* สไตล์ Navigation Bar */
.navbar {
  display: flex;
  background-color: #333;
  border-radius: 10px;
  margin-top: 20px;
  justify-content: center;
}

/* สไตล์ลิงค์ใน Navigation Bar */
.navbar a {
  position: relative;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  transition: all 0.5s ease;
}

/* เมื่อวางเมาส์บนเมนู */
.navbar a:hover {
  color: #fa4616;
  background-color: #f1f1f1;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.4rem;
}

/* คอนเทนเนอร์สำหรับเมนูย่อย */
.submenu-container {
  position: relative;
}

/* แถบเมนูเพิ่มเติม */
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  flex-direction: column;
  background-color: #444;
  padding: 0;
  z-index: 1;
  width: auto;
  border-radius: 10px;
  /* ปรับความกว้างให้เท่ากับความกว้างของเมนูย่อย */
}

.submenu a {
  padding: 14px 20px;
  text-align: left;
  color: white;
  text-decoration: none;
  display: block;
  transition: all 0.5s ease;
}

.submenu a:hover {
  color: #fa4616;
  width: 300px;
}

/* เมื่อวางเมาส์บนเมนูหลักและแสดงแถบเมนูเพิ่มเติม */
.submenu-container:hover .submenu {
  display: flex;
}

.box-left {
  float: left;
  /* ลอยกล่องไปทางซ้าย */
  width: 60%;
  /* กำหนดความกว้างให้กล่องซ้าย */
  background-color: #ffffff;
  /* สีพื้นหลังของกล่อง (ปรับแต่งได้) */
  padding: 10px;
  /* ระยะห่างภายใน */
  margin: 5px;
  /* ระยะห่างภายนอก */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 20px;

  img {
    border-radius: 20px;
  }
  img::selection{
    color: #fa4616;
    background-color: #ddd;
  }
}

.box-right {
  float: right;
  /* ลอยกล่องไปทางขวา */
  width: 35%;
  /* กำหนดความกว้างให้กล่องขวา */
  background-color: #ffffff;
  /* สีพื้นหลังของกล่อง (ปรับแต่งได้) */
  padding: 10px;
  /* ระยะห่างภายใน */
  margin: 5px;
  /* ระยะห่างภายนอก */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;

  border-radius: 20px;

  p {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #336699;
    padding: 10px;
    line-height: 1.6;
  }

  .pr2 {
    text-align: center;
  }
  p::selection{
    color: #fa4616;
    background-color: #ddd;
  }
}

.footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ffffff;
  width: 100%;
  max-width: auto;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  color: #336699;
  bottom: 0;
  font-size: 1.2rem;
  h2::selection{
    color: #fa4616;
    background-color: #ddd;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    /* เปลี่ยนทิศทางเป็นแนวตั้ง */
    align-items: center;
  }

  .navbar {
    flex-direction: column;
  }

  .box-left,
  .box-right {
    width: 100%;
    /* ใช้ความกว้างเต็มในแนวตั้ง */
    margin: 10px auto;
    p{
      font-size: 1.2rem;
    }
  }

  .footer {
    max-width: fit-content;
  }
}

/* สำหรับหน้าจอ iPad Pro แนวตั้ง */
@media (min-width: 768px) and (max-width: 1366px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .box-left {
    width: 80%;
  }

  .box-right {
    width: 65%;
  }
}